//GRAFICA COMUNE A TUTTE LE PAGINE

.login, .register, .reset, .verify, .forgot, .confirm{

    background-color:var(--white);
    height: 100%;

    //CARD
    .card{
        color: var(--black);
        --bs-card-border-color: var(--purple);
    }
    
    .card-header{
        background-color: var(--purple);
        color: var(--white);
    }

    .card-body{
        background-color: var(--lavander);
        padding-top: 50px;
    }

    //BOTTONI

    button{
        background-color: var(--purple);
        color: var(--white);
        &:hover{
            background-color: var(--yellow);
        }
    }

    a{
        color: var(--white);
        &:hover{
            color: var(--purple);
        }
        // &:active{
        //     color: red;
        // }
    }

}

//REGISTER

.attention{
    color: var(--white);
}