footer{
    background-color: var(--purple);
    color: var(--white);
    padding-top: 15px;
    font-size: 18px;

    a{
        color: var(--white);
        &:hover{
            color: var(--yellow);
        }

    }
}