//COLORI
:root{
    --black: #383b4a;
    --purple:#6b557c;
    --lavander:#a290b8;
    --yellow:#e5a95b;
    --orange:#c75756;
    --white:#f5f5f5;
}

h2, h3{
    color: var(--purple);
}

//CARDS
.card{
    --bs-card-border-color: var(--purple);
    
    .card-header{
        background-color: var(--purple);
        color: var(--white);
    }

}

//RESET
img{
    max-width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}


//BODY
body{
    background-color: var(--white);
}

//INPUT

.form-control:focus {
    //background-color: var(--lavander);
    color: var(--black);   
}



