//COLORI
:root{
    --black: #383b4a;
    --purple:#6b557c;
    --lavander:#a290b8;
    --yellow:#e5a95b;
    --orange:#c75756;
    --white:#f5f5f5;
}

//RESET
img{
    max-width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}

//BODY
body{
    background-color: var(--white);
}

//INPUT

// .form-control::placeholder { 
//     color: #E79B28;
//     opacity: 1; 
// }

.form-control:focus {
    //background-color: var(--lavander);
    color: var(--black);   
}



