.create, .edit{

    margin: 20px 0;
    
    h3{
        margin: 20px 0;
    }

    label{
        color: var(--purple);
    }

    input{
        border-color: var(--lavander);
    }

    button{
        background-color: var(--purple);
        color: var(--white);
    
        &:hover{
            background-color: var(--yellow);
        }
    
        a{
            color: var(--white);
        }
    
    }
}

