.show{

    //SHOW TITLE
    .show_title{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        h2{
            color: var(--purple);
            text-align: center;
            padding-right: 0px;
        }

        

        @media screen and (min-width: 768px){
            flex-direction: row;
            justify-content: space-between;

            h2{
            padding-right: 20px;

            }
            

        }
    }

    .card{
        --bs-card-border-color: var(--purple);

        h5{
            color: var(--purple);
        }
    }

    
.messages{
    max-height: 550px;
    overflow-y: auto;
}

@media screen and (max-width: 1399px) {
    .messages{
        max-height: 450px ;
    }
}

@media screen and (max-width: 1199px) {
    .messages{
        max-height: 300px ;
    }
}
}