.create, .edit{

    margin: 20px 0;
    color: var(--black);
    
    h3{
        margin: 20px 0;
        color: var(--purple);
    }

    h4{
        color: var(--purple);
    }

    label{
        color: var(--purple);
    }

    input{
        border-color: var(--lavander);
    }

}

