.index{

    //LAYOUT GENERALE
    height: 100%;
    color: var(--black);

    //CARDS
    .card{
        --bs-card-border-color: var(--purple);

        .card-header{
            background-color: var(--purple);
            color: var(--white);
            a{
                color: var(--white);
            }
        }

        .card-body{
            img{
                background-size: cover;
            }
        }

        .card-footer{
            background-color: var(--lavander);
        }

    }

    //BOTTONI
    button{
        background-color: var(--purple);
        color: var(--white);

        &.bg_orange{
            background-color: var(--orange);
        }

        &:hover{
            background-color: var(--yellow);
        }

        a{
            color: var(--white);
        }

    }

    // .yellow{
    //     background-color: var(--yellow);
    // }
}